fastapi
uvicorn
pydantic
langchain_core
langchain_text_splitters
langchain_community
langchain_openai
langchain
langchain_milvus
pyvis
matplotlib
networkx
html2text
pypdf
pyvis
streamlit
pandas
requests
PyPDF2
python-docx
docx2txt
neo4j
python-multipart
